#location{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.54);
}
#location img{
  width: 90%;
}

@media (max-width: 768px){
  #location img {
    width: 100%;
  }
  .location_1{
    padding-top: 20px;
  }
  .location_2{
    padding: 20px 0;
  }
}
@media (min-width: 769px){
  .location_2{
    display: none;
  }
  #location{
    padding: 70px 0;
  }
}