.main {
  text-align: center;
}
#library{
  padding: 0 40px 40px 40px;
  background-color: rgba(139, 240, 207, 0.282);
  border-radius: 20%;
}
#library h2{
  padding: 25px 0;
  font-size: var(--font-size-larger);
}
#readingroom{
  padding: 0 40px 40px 40px;
  background-color: rgba(139, 240, 206, 0.282);
  border-radius: 20%;
}
#readingroom h2{
  padding: 25px 0 ;
  font-size: var(--font-size-larger);
}
.main_bttn1{
  background-color: rgba(139, 240, 206, 0);
  border:none; 
  cursor:pointer;
  font-size: var(--font-size-text);
  padding: 0 110px 20px 110px;
}
.main_bttn2{
  background-color: rgba(139, 240, 206, 0);
  border:none; 
  cursor:pointer;
  font-size: var(--font-size-text);
  padding: 0 110px 20px 110px;
}
.hidden1{
  display: none;
}
.hidden2{
  display: none;
}

@media (max-width: 768px){
  .main{
    margin-top: auto;
  }
}

@media (min-width: 769px){
  .main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 0;
  }
  #library{
    margin-top: 100px;
    width: 50%;
    margin-bottom: 40px;
  }
  #readingroom{
    margin-top: 100px;
    width: 50%;
    margin-bottom: 40px;
  }
  }
